    body {
      background-color: black;
      text-align: center;
    }

    nav {
        background-color: #e3f2fd;
    }

    .homecontent {
     background-color: white;
     font-color: black; 
     font-size: 20px;
    }
      
    .row {
      display: flex;
      padding: 20px;
      text-align: center;
       margin: 10px;    
    }
    
    .homeElements { 
      border-color: gray;
      border-thickness: 5px;
      margin: 5px;   
      background-color: white;
     font-color: black; 
     font-size: 20px;
    }


   
